.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 7px solid #ccc;
    border-radius: 1px;
    background-color: black;
}

  body {
    background-image: url(IMG_Background.jpg);
    background-size: cover;
    background-position: center;
}
  
  .display {
    background-color: gray;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .button {
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
  
  .number, .operator, .clear, .equal, .backspace, .decimal, .double-zero {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
  }
  
  .number:hover, .operator:hover, .clear:hover, .equal:hover, .backspace:hover, .decimal:hover, .double-zero:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  